<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Animal</th>
        <th scope="col">Tutor</th>
        <th scope="col">Data e hora</th>
        <th scope="col">Realizada</th>
        <th scope="col">Cancelada</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
        @for (marcacao of marcacoes; track marcacao.id) {
            <tr>
              <td>{{ marcacao.tipo }}</td>
              <td>{{ marcacao.animalId }}</td>
              <td>{{ marcacao.tutorId }}</td>
              <td>{{ marcacao.dataHora }}</td>
              <!-- @if ( marcacao.realizada ) {    tentei mas não estava a ficar bonito como eu queria
                <td class="align-middle">
                   <i class="bi bi-x-lg"></i>
                </td>
              }
              @else {
                <p> - </p>
              } -->
              <!-- @if ( marcacao.cancelada ) {    tentei mas não estava a ficar bonito como eu queria
                <td class="align-middle">
                   <i class="bi bi-x-lg"></i>
                </td>
              }
              @else {
                <p> - </p>
              } -->
            <td>{{ marcacao.realizada ? 'x' : 'o' }}</td>
            <td>{{ marcacao.cancelada ? 'x' : 'o' }}</td>
            <td><button style="background-color: #3889C9;" class="btn btn-primary" [routerLink]="['/editar-marcacao/',marcacao.id]" type="button">Editar</button></td>
            <td><button class="btn btn-danger" [routerLink]="['/eliminar-marcacao/',marcacao.id]" type="button">Apagar</button></td>
            </tr>
        } @empty {
          @if (marcacoes) {
              <tr>
                <td colspan="4">Não há marcações!</td>
              </tr>
          } @else {
              <tr>
                <td colspan="4">A carregar as marcações...</td>
              </tr>
          }
        }
      </tbody>
  </table>

  
</div>
  