/* p{
    font-size: 30 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    color: slateblue;
    text-align: center;
    background-color: antiquewhite;
} */

header, footer{
    text-align: center;
}
header img{
    width: 70%;
    max-width: 600px;
    min-width: 400px;
    align-items: center;
    
}

nav {
    align-items: center;
}

p{
    text-align: center;
}