/* p{
    font-size: 30 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    color: slateblue;
    text-align: center;
    background-color: antiquewhite;
} */

body{

    font-family: 'Roboto', sans-serif;
}

img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #211840;
  }
  

 li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


h6{

    text-align: center;
}

.column {
    float: left;
    width: 150px;
    padding: 5px;
    float: center;
  }