<p>animais-criar works!</p>

<div>
    <h2>Novo Animal</h2>
  </div>
  <div>
    <form [formGroup]="formularioAnimais" (ngSubmit)="handleSubmit()">
      <div>
        <label for="nome">Nome:</label>
        <input formControlName="nome" type="text" id="nome" />
        @if ((submitted || formularioAnimais.controls['nome'].touched) && formularioAnimais.controls['nome'].errors) {
        <div>
          @if (formularioAnimais.controls['nome'].errors['required']) {
          <span>O nome é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="especie">Especie:</label>
        <input formControlName="especie" type="text" id="especie" />
        @if ((submitted || formularioAnimais.controls['especie'].touched) && formularioAnimais.controls['especie'].errors) {
        <div>
          @if (formularioAnimais.controls['especie'].errors['required']) {
          <span>A especie é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="raca">Raça:</label>
        <input formControlName="raca" type="text" id="raca" />
        @if ((submitted || formularioAnimais.controls['raca'].touched) && formularioAnimais.controls['raca'].errors) {
        <div>
          @if (formularioAnimais.controls['raca'].errors['required']) {
          <span>A raça é obrigatória</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="sexo">Sexo:</label>
        <input formControlName="sexo" type="text" id="sexo" />
        @if ((submitted || formularioAnimais.controls['sexo'].touched) && formularioAnimais.controls['sexo'].errors) {
        <div>
          @if (formularioAnimais.controls['sexo'].errors['required']) {
          <span>A raça é obrigatória</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <input formControlName="dataNascimento" type="datetime-local" id="dataNascimento" />
        @if ((submitted || formularioAnimais.controls['dataNascimento'].touched) && formularioAnimais.controls['dataNascimento'].errors) {
        <div>
          @if (formularioAnimais.controls['dataNascimento'].errors['required']) {
          <span>A Data e Hora é obrigatório</span>
          }
        </div>
        }
      </div>
      <div>
        <label for="tutorId">ID do Tutor:</label>
        <input formControlName="tutorId" type="text" id="tutorId" />
        @if ((submitted || formularioAnimais.controls['tutorId'].touched) && formularioAnimais.controls['tutorId'].errors) {
        <div>
          @if (formularioAnimais.controls['tutorId'].errors['required']) {
          <span>O ID do Tutor é obrigatório</span>
          }
        </div>
        }
      </div>
      
      <button type="submit" [disabled]="submitted && formularioAnimais.invalid">Criar animal</button>
    </form>
  </div>