<p>form-api works!</p>

<form [formGroup]="form" (ngSubmit)="formSubmit()">

    <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" formControlName="nome">
    </div>

    <!-- ERROS -->

    <div>
        <label for="pais">Pais</label>
        <input type="text" name="pais" id="pais" formControlName="pais">
    </div><br>

    <div>
        <label for="populacao">Populacao</label>
        <input type="number" name="populacao" id="populacao" formControlName="populacao">
    </div><br>

    <div>
        <button type="submit" [disabled]="form.invalid">Ok</button>
    </div>
</form>