{{arr}} <!--o array le como se fosse todo uma string separado por virgulas-->

<ul>
    <li *ngIf="!arr"></li>
    <li *ngFor="let item of arr"> <!-- for each-->
    {{item}}
    </li>
</ul>

<div>
    <article *ngFor="let item of arr"> <!-- for each-->
        {{item}}
        <!-- ... -->
    </article>
</div>

<ul>
    <ng-template ngFor let-item [ngForOf]="arr">  <!-- com atribute binding-->
        <li>
            {{item}}
        </li>
    </ng-template>
</ul>

<ul>
    <li *ngFor="let item of arr; index as i"> <!-- for each com indice-->
    {{item}} ({{ i }})
    </li>
</ul>

<ul>
    <ng-template ngFor let-item [ngForOf]="arr" let-i="index">  <!-- com atribute binding e indice-->
        <li>
            {{item}}  ({{ i }})
        </li>
    </ng-template>
</ul>

<ul>
    <li *ngFor="let item of arr; index as i; first as ePrimeiro"> <!-- for each com indice e dizer qual esta na primeira posicao-->
    {{item}} ({{ i }})
    <b *ngIf="ePrimeiro">-- PRIMEIRO --</b> <!-- Para o caso do primeiro da lista precise de algo diferente que o resto da lista-->
    </li>
</ul>

<!-- versao 17.0 e a cima -->
<h3>afor</h3>

<ul>
    @for (item of arr;track $index) {
        <li>
            {{item}}  ({{ $index }})
        </li>
    }
    @empty {
        <li>A lista esta vazia</li>
    }
</ul>
