<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
<img src="assets/logoAngular.jpg" style="max-width: 5%;" alt="">    
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Marcações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Animais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tutores</a>        
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
  <div class="container">

    <div>
      <h2>Marcações</h2> 
      <button class="btn btn-success" [routerLink]="['/nova-marcacao']" type="button">Nova marcação</button>
    </div>
    <div>
       <app-marcacoes-lista />
    </div><br>

    <div>
      <h2>Animais</h2>
      <button class="btn btn-success" [routerLink]="['/novo-animal']" type="button">Novo animal</button>
    </div>
    <div>
      <app-animais-lista />
    </div><br>

    <div>
      <h2>Tutores</h2>
      <button class="btn btn-success" [routerLink]="['/novo-tutor']" type="button">Novo tutor</button>
    </div>
    <div>
      <app-tutores-lista /> 
    </div>
  </div>
