<h1>Lista de cidades</h1>

<div>
    <button type="button" (click)="irAdicionarCidade()">Adicionar nova cidade</button> 
    <!-- <button type="button" routerLink="/formulario-cidade-td">Adicionar nova cidade formulario(via routerlink)</button> -->
    <button type="button" (click)="limparDados()">Limpar Dados</button> 
</div>

<br>

<div>
    <ul>
        @for (cidade of cidades; track $index) {
            <app-minha-lista-item [cidade]="cidade"></app-minha-lista-item>
        }
    </ul>
</div>



