<li><b>{{cidade.nome}}</b>,
     {{cidade.pais}},
     <small><i>
        @if (cidade!.populacao && cidade.populacao >= 2000000) {

            <b>{{cidade.populacao}} pessoas</b>
        }
        @else {
            {{cidade.populacao}} pessoas
        }
        
    
      </i></small>
      <a routerLink="/formulario-cidade-td/{{ cidade.id }}">Editar</a>

      <a (click)="del()">Eliminar</a>
      <!--<a routerLink="/formulario-cidade-td/"+ cidade.id >Editar</a>-->
      <!--<a routerLink="[/formulario-cidade-td/", cidade.id] >Editar</a>-->
</li>
